<form action="{{ action }}" method="post" id="item_form">
    {% if item is defined %}
        <input type="hidden" name="iditem" value="{{ item.iditem }}">
        <div class="form-group">
            <label>Название</label>
            <input type="text" name="name" required class="form-control" maxlength="60" placeholder="Название..." value="{{ item.name }}">
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea class="form-control" rows="3" name="description" maxlength="200"
                      placeholder="Описание...">{{ item.description }}</textarea>
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input type="number" name="price" required step="0.01" min="0" class="form-control" placeholder="Цена..." value="{{ item.price }}">
        </div>
        <div class="form-group">
            <label>Ссылка на Изображение</label>
            <input type="url" name="url" pattern="https?://.+" class="form-control" placeholder="Url (шаблон : http/https://* )" value="{{ item.url }}">
        </div>
    {% else %}
        <div class="form-group">
            <label>Название</label>
            <input type="text" required name="name" class="form-control" maxlength="60" placeholder="Название...">
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea class="form-control" name="description" rows="3" maxlength="200" placeholder="Описание..."></textarea>
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input type="number" required name="price" step="0.01" min="0" class="form-control" placeholder="Цена...">
        </div>
        <div class="form-group">
            <label>Ссылка на Изображение</label>
            <input type="url" pattern="https?://.+" name="url" class="form-control" placeholder="Url (шаблон : http/https://* )">
        </div>
    {% endif %}
    <div class="box-footer">
        <input type="submit" class="btn btn-info pull-right" value="Save">
    </div>
</form>